---
title: Partner Engineering Style Guide
---
.page-content.inset
  .row
    .col-md-12
      .page-title
        %h2
          Simen Johan

  .row
    .col-md-12
      .padded-row.relative
        .tabs-overflow-indicator-left
        .tabs
          %ul.tabs-overflow><
            %li.tab-item><
              %a{href: '/interface/item'}< Overview
            %li.tab-item><
              %a{href: '/interface/form'}< Artists
            %li.tab-item.is-active><
              %a{href: '/interface/item'}< Artworks
            %li.tab-item><
              %a{href: '/interface/form'}< Install Shots
            %li.tab-item><
              %a{href: '/interface/form'}< Documents
        .tabs-overflow-indicator-right

  .row
    .unit
      .capped
        .col-md-12
          .unit.single-padding
            = link_to "Add Works", '', class: 'btn btn-full-width btn-primary btn-add'
          .unit.single-padding
            .list-group
              - 20.times do
                .artwork-grid-item.grid-item{ href: "#", data: { artwork: "artwork-slug-here" } }
                  .artwork-grid-item-image-data
                    .artwork-grid-item-image
                      %img{ src: ['/images/trees_in_snow.png', '/images/cliff_sq.png', '/images/cliff.png', '/images/hurricaneLXXXIV_sq.png'].sample }
                      .artwork-grid-item-low-res Low-Res
                    %h3.artwork-grid-item-artists
                      .arwork-artists
                        .artist-name Josef Hoflehner
                        .artist-name Tatiana Trouvé
                    %h3.artwork-grid-item-title.artwork-title
                      %a{ href: "#" } Trees in Snow
                    .artwork-grid-item-display-data
                      %span.data-label Visibility
                      %span.visiblity= ['Visible', 'Private'].sample
                    .artwork-grid-item-display-data
                      %span.data-label Availability
                      %span.availability= ['For Sale', 'Not For Sale', 'Sold'].sample
                    .artwork-grid-item-display-data
                      %span.data-label Price
                      %span.price= ['Contact For Price', "$5,000"].sample

                  .artwork-grid-actions
                    %a.bstooltip.artwork-grid-action.artwork-grid-action-remove{ href: '#', data: { toggle: 'tooltip', placement: 'top', pinned_label: 'Delete' } }
                      = partial 'svgs/circle_delete'
                    %a.bstooltip.artwork-grid-action.artwork-grid-action-save{ href: '#', data: { toggle: 'tooltip', placement: 'top', pinned_label: 'Save to your shortlist.' } }
                      = partial 'svgs/circle_pin'
                    %a.bstooltip.artwork-grid-action.artwork-grid-action-edit{ href: '#', data: { toggle: 'tooltip', placement: 'top', pinned_label: 'Edit' } }
                      = partial 'svgs/circle_edit'

                  %a.btn-text.artwork-grid-action{ href: '#' } View
